<div class="guidelinesContainer">
    <h2 class="text-center mb-4 mt-4">FAQ's </h2>
    <ul class="guidelines">

        <li>
            <h4>1. How can we find the current status of DCT ?</h4>
            Ans - Current state of the DCT can be checked in INFO tab. Current Owner in INFO tab tells about the current status of DCT.

        </li>
        <li>
            <h4>2. Can we change the the INPUT VALUE for Tranche1 DCT ?</h4>
            Ans - INPUT VALUE can be updated for modifiable DCT's but comment and document upload is mandatory to proceed further.

        </li>
        <li>
            <h4>3. Can we upload DCT data fro TRANCHE 2 and TRANCHE 3 DCT's, instead on manually entering ?</h4>
            Ans - Yes, upload feature is available in Tranche 2 and Tranche 3 DCT's. You can download the template and fill it up for your respective DCT's in excel and upload it back into the system.

        </li>
        <li>
            <h4>4. Can Approver change the value of any DCT ?</h4>
            Ans - No, Approver doesn't have the rights to change the value, he can only Approve or Reject it back to Maker with necessary comments.

        </li>

    </ul>
    <!-- <div class="text-center m-auto" style="width: 50%;">
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Submit Your Query</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="query" rows="3" [(ngModel)]="query"></textarea>
                <button type="submit" class="btn btn-primary mt-2" (click)="submitQuery()">Submit</button>
            </div>
        </form>
    </div> -->
</div>