<form #f="ngForm" name="form">
  <table class="trancheTable z-depth-1" stickyHeader="true" hover="true" striped="true">
    <thead class="sticky-top blue">
      
      <tr >
        
        <th colspan="3">Tranche III FY:{{year}},QT:{{quarter}}</th>
        <th colspan="4" class="pl-5" style="font-size: 12px; color: gray;border-bottom:1px solid gray">Control Environment</th>
        <th colspan="4" class="pl-5 pending" style="font-size: 12px;border-bottom:1px solid white">Audit Assessment</th>
        <th colspan="4" class="pl-5 approved" style="font-size: 12px;border-bottom:1px solid gray">Complance Assessment</th>
      </tr>

      <tr style="font-size: 12px !important; text-align:center;">
        <th class="bg-tb-head" rowspan="2">
          <input type="checkbox" name="checkedAll">
        </th>
        <th class="cursor-pointer" *ngFor="let head of headElements; let i = index" [mdbTableSort]="data" [sortBy]="head.sort?head.name:''" aria-controls="tableSortExample" scope="col" [ngStyle]="{'width': head.width }">{{head.title}}
          <mdb-icon fa icon="sort fa" *ngIf="head.sort">
          </mdb-icon>
      </th>
        <!-- <th>Param No.</th>
        <th>Control Parameter</th>
        <th>Control Type</th>
        <th>Date of Last Review</th>
        <th>Control Policy</th>
        <th>Control Process</th>
        <th>Review Mechanism</th>
        <th>Type of check</th>
        <th>Sampling Methdology</th>
        <th>Number of Samples Checked</th>
        <th>Audit Conclusion</th>
        <th>Sampling Methdology</th>
        <th>Number of Samples Checked</th>
        <th>Observation</th>
        <th>Complaince Conclusion</th>
        <th>Current Owner</th>
        <th>Document</th> -->
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let itm of data; let i = index">
          <tr>
              <ng-container>
                  <td scope="row">
                      <input type="checkbox" name="checked{{i}}" [(ngModel)]="itm.checked" (change)="checkRecord(itm)">
                  </td>
                  <td scope="row" [title]="itm.riskType">{{itm.riskType}}</td>
                  <td scope="row" [title]="itm.dctNumber"><a (click)="edit(itm)" class="text-primary">{{itm.dctNumber}}</a></td>
                  <td scope="row" [title]="itm.dctDescription">{{itm.dctDescription}}</td>

                  <td scope="row" [title]="itm.remark1ControlObjective" *ngIf="tt==2">
                  </td>
                  <td scope="row" [title]="itm.remark1ControlDocument" *ngIf="tt==2">
                  </td>

                  <td scope="row" *ngIf="tt==2">
                      <select name="remark1TypeOfControl{{i}}" #remark1TypeOfControl="ngModel" [required]="itm.checked" [ngClass]="{ 'is-invalid': f.submitted && remark1TypeOfControl.invalid }" [(ngModel)]="itm.remark1TypeOfControl">
                          <option value="Manual">Manual</option>
                          <option value="Semi-Automatic">Semi-Automatic</option>
                          <option value="Automatic">Automatic</option>
                      </select>
                  </td>
                  <td scope="row" [title]="itm.remark1ControlDesignAssement" *ngIf="tt==2">

                  </td>

                  <td scope="row" [title]="itm.remark2" *ngIf="tt==2">
                  </td>
                  <td scope="row" [title]="itm.remark3" *ngIf="tt==2">
                  </td>

                  <td scope="row">
                      <i class="text-primary fa fa-pencil" ></i>
                      <i class="text-primary fa fa-upload cursor-pointer mr-1" title="Upload Document" (click)="selectFiles(itm)"></i>
                      <i class="fa fa-download text-success cursor-pointer mr-1" *ngIf="itm.fileID" [title]="itm.fileName" (click)="download(itm)"></i>
                      <i class="fa fa-trash text-danger mr-1 cursor-pointer" *ngIf="itm.fileID" [title]="itm.fileName" (click)="delete(itm)"></i>
                  </td>
              </ng-container>
              </tr>
          </ng-container>
      </tbody>

  </table>
</form>
