<img src="assets/img/admin.png" class="m-0" style="width: 100%;">
<!-- <div class="card">
    <div class="card-footer">
        <div class="row text-center">
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Visits</div>
                <strong>29.703 Users (40%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Unique</div>
                <strong>24.093 Users (20%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Pageviews</div>
                <strong>78.706 Views (60%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">New Users</div>
                <strong>22.123 Users (80%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Bounce Rate</div>
                <strong>40.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row m-0 p-0">
    <div class="col-md-2">
        <div class="adminCard mt-2 mb-2">

            <h4 class="mt-2 "><b>Admin Tickets</b></h4>
        </div>

        <div class="adminCard mt-3">
            <h4>Total Pending Tickets</h4>
            <h1 class="m-0 text-danger"> 149</h1>
        </div>
        <div class="adminCard mt-2">
            <h4>Total Enquiries</h4>
            <h1 class="m-0 text-info"> 36</h1>
        </div>
        <div class="adminCard mt-2">
            <h4>Total Requests</h4>
            <h1 class="m-0 text-success"> 149</h1>
        </div>
    </div>
    <div class="col-md-4 mt-2">
        <div class="adminCard">
            <h4 class="mb-4 mt-1"><b>Pendency By Department</b></h4>

            <div class="row m-0 mb-2 pt-2">
                <div class="col-md-6 mt-1 p-0">
                    <h5>Treasury</h5>
                </div>
                <div class="col-md-6 p-0 mt-1" style="display: inline-flex;justify-content: space-between;">
                    <div class="progress progress-xs" style="width: 75%;">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>24</h4>
                </div>
                <br><br><br><br>
                <div class="col-md-6 p-0">
                    <h5>RMD</h5>
                </div>
                <div class="col-md-6 p-0" style="display: inline-flex;justify-content: space-between;">
                    <div class="progress progress-xs" style="width: 75%;">
                        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>5</h4>
                </div>
                <br><br><br><br>
                <div class="col-md-6 p-0">
                    <h5>IT</h5>
                </div>
                <div class="col-md-6 p-0" style="display: inline-flex;justify-content: space-between;">
                    <div class="progress progress-xs" style="width: 75%;">
                        <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>3</h4>
                </div>
                <br><br><br>
                <div class="col-md-6 p-0 pt-3">
                    <h5>Accounts</h5>
                </div>
                <div class="col-md-6 p-0 pt-3" style="display: inline-flex;justify-content: space-between;">
                    <div class="progress progress-xs" style="width: 75%;">
                        <div class="progress-bar" role="progressbar" style="width: 8%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>2</h4>
                </div>
                <br><br><br><br>
                <div class="col-md-6 p-0">
                    <h5>HR</h5>
                </div>
                <div class="col-md-6 p-0" style="display: inline-flex;justify-content: space-between;">
                    <div class="progress progress-xs" style="width: 75%;">
                        <div class="progress-bar" role="progressbar" style="width: 8%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>2</h4>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 mt-2">
        <div class="adminCard">
            <h4 class="mb-4 mt-1"><b>KPI Trend</b></h4>
            <div class="row m-0">

                <div class="col-md-12 p-0">
                    <h3>Variance QoQ</h3>
                </div>
                <br>
                <div class="col-md-6 pl-0">
                    <div class="bg-info text-center pt-4 pb-4 cursor-pointer" (click)="openPop($event)">
                        <i class="fa fa-cog fa-2x text-white"></i>
                        <h3>87.4</h3>
                    </div>
                    <h3 class="cursor-pointer" (click)="openPop($event)">Exposure</h3>
                    <div class="toolContent1" *ngIf="popopen" (click)="clickPop($event)">
                        <div class="row m-0">
                            <table class="">

                                <tbody>
                                    <tr>
                                        <td>
                                            <h5>Second Last Quarter Value</h5>

                                            <h1 class="m-0 text-danger"> 65</h1>
                                        </td>
                                        <td>
                                            <h5>Last Quarter Value</h5>
                                            <h1 class="m-0 text-info"> 86</h1>

                                        </td>
                                        <td>
                                            <h5>Current Quarter Value</h5>
                                            <h1 class="m-0 text-success"> 58</h1>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 pr-0">
                    <div class="bg-success text-center pt-4 pb-4">
                        <i class="fa fa-desktop fa-2x text-white"></i>
                        <h3>17.2K</h3>
                    </div>
                    <h3>Deposits</h3>
                </div>

                <br><br>
                <div class="col-md-6 mt-4 pl-0">
                    <div class="bg-warning text-center pt-4 pb-4">
                        <i class="fa fa-cog fa-2x text-white"></i>
                        <h3>63.2K</h3>
                    </div>
                    <h3>Securities</h3>
                </div>
                <div class="col-md-6 mt-4 pr-0">
                    <div class="bg-danger text-center pt-4 pb-4">
                        <i class="fa fa-cog fa-2x text-white"></i>
                        <h3>45.8K</h3>
                    </div>
                    <h3>Libialities</h3>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="adminCard mt-2">
            <h4>On Hold</h4>
            <h1 class="m-0 text-danger"> 36</h1>
        </div>
        <div class="adminCard mt-2">
            <h4>Maker</h4>
            <h1 class="m-0 text-warning"> 54</h1>
        </div>
        <div class="adminCard mt-2">
            <h4>Checker</h4>
            <h1 class="m-0 text-success"> 48</h1>
        </div>
        <div class="adminCard mt-2">
            <h4>Approver</h4>
            <h1 class="m-0 text-success"> 85</h1>
        </div>

    </div>
    <div class="col-md-4">
        <div class="adminCard mt-2 text-left">
            <h4>Improvement on TAT</h4>
            <h1 class="m-0 text-danger"> 80%</h1>
        </div>
    </div>
    <div class="col-md-4">
        <div class="adminCard mt-2 text-left">
            <h4>Support Tickets Received Till Now</h4>
            <h1 class="m-0 text-danger"> 97</h1>
        </div>
    </div>
    <div class="col-md-4">
        <div class="adminCard mt-2 text-left">
            <h4>Average Downtime</h4>
            <h1 class="m-0 text-danger"> 48s</h1>
        </div>
    </div>
</div> -->