<!-- <div class="row">
    <div class="col-md-12">
        <div class="input-group mb-3">

            <input type="text" name="username" [(ngModel)]="searchText" class="form-control searchBox" placeholder="Search" autocomplete="search">
            <select name="type" [(ngModel)]="searchType" style="max-width: 150px;" class="custom-select input-group-prepend" (change)="searchItems()">
                <option value="" disabled>Please select</option>
                <option value="department">Department</option>
                <option value="description">DCT Description</option>
            </select>
            <div class="input-group-prepend" style="cursor: pointer;" (click)="searchItems()">
                <span class="input-group-text"><i class="icon-magnifier"></i></span>
            </div>
        </div>
    </div>
</div> -->



<form #f="ngForm" name="form" >
<table class="table trancheTable tranche2Table z-depth-1" stickyHeader="true" hover="true" striped="true" *ngIf="tt!=3">
    <thead class="sticky-top blue">
        <tr>
            <th class="bg-tb-head" rowspan="2">
                <input type="checkbox" [(ngModel)]="checkedAll" (change)="checkAll()">
            </th>
            <th colspan="3">Tranche II FY:{{year}},QT:{{quarter}}</th>
            <th colspan="4">Remarks 1</th>
            <th class="pending">Remarks 2</th>
            <th>Remarks 3</th>
            <th rowspan="2">Docs</th>
        </tr>
        <tr style="font-size: 12px !important;">
            <th style="width: 100px;">
                Risk
            </th>
            <th style="width: 85px;">
                Param No
            </th>
            <th>
                Control Parameter
            </th>
            <th title="Control Objective">Control Objective</th>
            <th title="Control Document">Control Document</th>
            <th title="Type Of Control">Type Of Control</th>
            <th title="Control Design And Assessment">Control Design And Assessment</th>
            <th title=" Review and Exceptions ">Review and Exceptions</th>
            <th title="Change in controls ">Change in controls</th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let itm of data; let i = index">
            <tr>
                <ng-container>
                    <td scope="row">
                        <input type="checkbox" attr.name="checked+{{i}}" [(ngModel)]="itm.checked" (change)="checkRecord(itm)">
                    </td>
                    <td scope="row" [title]="itm.riskType">{{itm.riskType}}</td>
                    <td scope="row" [title]="itm.dctNumber"><a class="text-primary" (click)="edit(itm)">{{itm.dctNumber}}</a></td>
                    <td scope="row" [title]="itm.dctDescription">{{itm.dctDescription}}</td>
                    <td scope="row" [title]="itm.remark1ControlObjective">{{itm.remark1ControlObjective}}</td>
                    <td scope="row" [title]="itm.remark1ControlDocument">{{itm.remark1ControlDocument}}</td>
                    <td scope="row" [title]="itm.remark1TypeOfControl">{{itm.remark1TypeOfControl}}</td>
                    <td scope="row" [title]="itm.remark1ControlDesignAssement">{{itm.remark1ControlDesignAssement}}</td>
                    <td scope="row" [title]="itm.remark2">{{itm.remark2}}</td>
                    <td scope="row" [title]="itm.remark3">
                        {{itm.remark3}}
                    </td>
                    <td scope="row" [title]="itm.controlType" *ngIf="tt==3">{{itm.controlType}}</td>
                    <td scope="row" [title]="itm.dateOfLastReviewControl" *ngIf="tt==3">{{itm.dateOfLastReviewControl}}</td>
                    <td scope="row" [title]="itm.controlDescripton" *ngIf="tt==3">{{itm.controlDescripton}}</td>
                    <td [title]="itm.comments">
                        <textarea attr.name="comments+{{i}}" style="width: 100%;margin-bottom: -5px;" [(ngModel)]="itm.comments" rows="1"></textarea>
                    </td>

                    <td scope="row">
                        <i class="fa fa-download text-success pointer" *ngIf="itm.fileName" [title]="itm.fileName" (click)="download(itm)"></i>
                         <i class="text-primary fa fa-upload" title="Upload Document" (click)="selectFiles(itm)"></i>
                        <i class="fa fa-download text-success" *ngIf="itm.fileName" [title]="itm.fileName" (click)="download(itm)"></i>
                    </td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
        <tr>
            <td colspan="9">
                <mdb-table-pagination [tableEl]="tableEl1" paginationAlign="" [searchDataSource]="data">
                </mdb-table-pagination>
            </td>
        </tr>
    </tfoot>
    <tfoot class="grey lighten-5 w-100">
        <tr>
            <td colspan="17" style="position: relative;">
                <nav>
                    <ul class="pagination pagination-circle pg-blue d-flex flex-center" ng-reflect-klass="pagination pagination-circle p">
                        <li class="ng-star-inserted">
                            Page {{activePage+1}} of {{pager.totalPages}}
                        </li>
                        <li (click)="setPage(0)" class="page-item" [ngClass]="{disabled:activePage === 0}">
                            <a aria-label="Previous" class="page-link">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>

                        <li class="page-item" (click)="setPage(activePage - 1)" [ngClass]="{disabled:activePage === 0}">
                            <a aria-label="Previous" class="page-link">
                                <span aria-hidden="true">‹</span>
                            </a>
                        </li>
                        <ng-container *ngFor="let page of pages;let i=index;">
                            <li class="page-item" *ngIf="i<activePage+3&&i>activePage-3">
                                <a class="page-link" [ngClass]="activePage==i?'text-obc':''" (click)="setPage(i)">{{i+1}}</a>
                            </li>
                        </ng-container>
                        <li class="page-item" (click)="setPage(activePage + 1)" [ngClass]="{disabled:activePage === pager.totalPages-1}">
                            <a aria-label="Previous" class="page-link">
                                <span aria-hidden="true">›</span>
                            </a>
                        </li>


                        <li class="page-item" (click)="setPage(pager.totalPages-1)" [ngClass]="{disabled:activePage === pager.totalPages-1}">
                            <a aria-label="Next" class="page-link">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="m-0 row pagesize">
                    <label class="col-md-6 mt-2 p-0 col-form-label" for="select3">Page Size</label>
                    <div class="col-md-6 p-0">
                        <select [(ngModel)]="size" class="custom-select" (change)="activePage=0;getCheckerAll(quarter, year,tt)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

 <div class="row">
    <div class="col-md-12 text-center">

        <button type="button" class="btn btn-success mr-2" [disabled]="checkedData.length==0" (click)="approveData()">Approve</button>
        <button type="button" class="btn btn-danger ml-2" [disabled]="checkedData.length==0" (click)="rejectData(f)">Reject</button>
    </div>
</div>
</form>
