<div class="guidelinesContainer">
    <h2 class="text-center mb-4 mt-4">General RBI guidelines & RBS guidelines</h2>
    <br><br>
    <ul class="guidelines">
        <li>
            Data & information requirements under Supervisor Program for Assessment of Risk & Capital SPARC – A compendium
        </li>
        <li>
            RBI Master Circular – Exposure Norms: <a href="https://m.rbi.org.in/Scripts/NotificationUser.aspx?Id=9060&Mode=0" target="_blank">Master Circular DBOD No. Dir. BC.12/13.03.00/2014-15 dated July 1, 2014</a> as updated on time to time
        </li>
        <li>
            Master Circular - Prudential norms on Income Recognition, Asset Classification and Provisioning pertaining to Advances: <a href="https://www.rbi.org.in/scripts/BS_ViewMasCirculardetails.aspx?Id=8128&Mode=0" target="_blank">Master Circular No. DBOD.No.BP.BC.1/21.04.048/2013-14 dated July 1, 2013</a>            as updated on time to time
        </li>
        <li>
            Master Circular on Call/Notice Money Market Operations: RBI/2012-13/98 IDMD.PCD. 03/14.01.01/2012-13 as updated on time to time
        </li>
        <li>
            RBI circular for Prudential Limits for Inter- Bank Liabilities (IBL) RBI/2006-2007/281 DBOD. No. BP.BC. 66/ 21.01.002/ 2006-2007
        </li>
        <li>
            RBIs circular no. DBOD. BP. BC. 71 / 21.04.103 / 2002- 03 - Guidelines on Country Risk Management issued on February 19, 2003
        </li>
        <li>
            RBI circular no. DBOD.No.BP.BC.16 /21.06.001/2012-13 - Master Circular - Prudential Guidelines on Capital Adequacy and Market Discipline- New Capital Adequacy Framework (NCAF)
        </li>
        <li>
            RBI Circular RBI/2013-14/487 DBOD . No . BP . BC.96/21.06.102/2013-14 , dated February 11, 2014 Guidelines on Management of Intra-Group Transactions and Exposures
        </li>
    </ul>
</div>