<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Coming Soon..</h1>
                <h2>
                    This Page is Under Construction</h2>
                <!-- <div class="error-details">
                    Sorry, Requested page is under construction!
                </div> -->
                <div class="error-actions">
                    <button (click)="goHome()" class="btn btn-primary btn-lg"><span
                class="glyphicon glyphicon-home"></span>
              Take Me Home </button>
                    <!-- <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"><span
                class="glyphicon glyphicon-envelope"></span> Contact Support </a> -->
                </div>
            </div>
        </div>
    </div>
</div>